extends ./layout.jade

block title
  title devmark - about

block content
  h2 About

  p 
    | The best way to describe 
    span.ubunt devmark 
    | is “a modern bookmarking service for software developers”. The main design goal of the service is to get the privacy, functionality, and usability aspects of bookmarking right. The service will be 'free for use' to individuals although 'at cost' features will be made available for power users and businesses. The reason 
    span.ubunt devmark 
    | is being created is that in the extensive list of productivity tools for software developers there isn't much in the way of bookmarking.
    br
    br
    a(href='http://peadardoyle.com/pages/about-contact.html') Peadar Doyle 
    | is the person behind 
    span.ubunt devmark 
    | . Peadar has spent the last five years building software from scratch as a paid employee for companies in the engineering services and energy management industries.
    br
    br
    | They say a picture paints 1000 words, so hopefully this explains it better...

  img#meme(
    src='bookmark-all-the-internets.jpg'
    width='400px'
    height='400px'
  )

block footer
  div#footer
    a(href='/') Register
    a(href='mailto:info@devmark.io') Contact
