extends ./layout.jade

block content
  h2 Register for the Beta – Autumn 2015
  p Please enter your email to be notified when the public beta begins 
  p.small *I promise we won't share your email or use it for anything inappropriate
  form(
    id='registerForm'
    action='/register'
    method='POST'
  )
    div.form-group
      label(
        for='email'
      ) Email address
      input(
        id='email'
        class='form-control'
        type='text'
        name='address'
        placeholder='Enter email'
      )
    button(
      type='submit'
      class='btn btn-default'
    ) Register
