doctype html
html(lang="en")
  head
    block head
      block title
        title devmark
    block meta
      // look at meta stuff
      meta(name="description", content="Launch page for the devmark bookmarking service")
      meta(name="keywords", content="bookmark bookmarking service dev software developer")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      link(href="#{locals.assets['bootstrap.css']}", type="text/css", rel="stylesheet")
      link(href="#{locals.assets['main.css']}", type="text/css", rel="stylesheet")
      link(href="#{locals.assets['formValidation.css']}", type="text/css", rel="stylesheet")
      link(rel="shortcut icon" href="/favicon.ico")
      script(src="#{locals.assets['jquery.js']}")
      script(src="#{locals.assets['main.js']}")
      script(src="#{locals.assets['formValidation.js']}")
      script(src="#{locals.assets['bootstrap.js']}")

  body
    div#container
      div#left
        div#inner
          div#logo
            a(href="/")
              img(
                src="logo.svg"
                width="50px"
              )
          div
            a(href="/"
              id="title") devmark
          div
            p#blurb
              | bookmarking for software developers
      div#right
        div#body
          block content
        block footer
          div#footer
            a(href="/about") About
            a(href="mailto:info@devmark.io") Contact


