extends ./layout.jade

block title
  title devmark - registered

block content
  h2 Register for the Beta – Autumn 2015
  p 
    | Thanks for registering!
    br
    br
    | If you'd like to contact us for any reason please use the contact link at the bottom of the page. That's about all there is to the site at the moment. We'll be in touch when things are up and running.
