@dark-purple: #4E004E;
@nice-purple: #800080;

@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  width: 100%;
  height: 100%;  
  margin: 0px;
  min-width: 224px;
  font-family: 'Open Sans';
}

#container {
  height: 100%;
}

#left {  
  color: white;
  background-image: radial-gradient(@nice-purple, @dark-purple);
  background-color: @nice-purple;
  margin: 0px;
  text-align: center;
  width: 100%;  
}

#inner {
  padding-top: 15px;
}

#blurb {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: "Ubuntu";
  margin-top: 0px;
}

#right {
  color: @dark-purple;
  padding-top: 5%;
  width: 100%;
  height: 100%;
}

#body {
  margin: 0 auto;
  width: 80%;
  min-height: calc(~"100% - 30px"); 
}

#body form {
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
}

#submit {
  margin-top: 10px;
  background-color: @dark-purple;    
  border-color: @dark-purple;
  color: white;
  margin-bottom: 70px;
}
#submit:hover {
  background-color: @nice-purple;
  color: white;
}

#email {
}

#feedback {
  max-width: 110%;
  min-width: 50%;
  min-height: 105px;
}

#feedback-limit {
  margin-left: 10px;
}

#footer {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  a {
    margin-left: 30px;
  }
}


#logo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: white;
  padding-top: 10px;
  padding-left: 5px;
  margin: auto auto 10px;
}

#title {
  font-family: "Ubuntu";
  margin-top: 0px;
  padding-top: 0px;
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}

#meme {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: @dark-purple;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ubunt {
  font-family: "Ubuntu";
}

@media (min-width: 48em) { 
  #left {
    position: fixed;
    padding-top: 100px;
    width: 30%;
    float: left;    
    min-height: 100%;
  }
  #right {
    min-height: 100%;
    width: 70%;
    float: right;
  }
  #inner {
    position: absolute;
    width: 100%;
    top: 30%;
    padding-top: 0px;
  }
}
